<h3>New Listings!</h3>
<hr>
{% for job in jobs %}
<div>
    <small>
        <a class="btn btn-info btn-sm" href="{% url 'user-profile' job.host.id %}">
            Company: {{ job.host.username }}
        </a><br>
        Posted: {{ job.created|timesince }} ago
    </small>
    <p><strong>Position:</strong> <a href="{% url 'job' job.id %}">{{ job.name }}</a></p>
    <p><strong>Description:</strong> {{ job.description|truncatewords:20 }}</p> <!-- Truncate the description if needed -->

    {% if request.user == job.host %}
        <a class="btn btn-delete btn-sm" type="button" href="{% url 'delete-job' job.id %}">Delete</a>
    {% endif %}

    <hr>
</div>
{% endfor %}
