<h3>New Listings!</h3>
        <hr>
        {% for message in job_messages %}
        <div>
            <small><a href="{% url 'user-profile' message.user.id %}">Company: {{message.user}}</a><br>Posted: {{message.created|timesince}} ago</small>
            <!--<small>replied to "{{message.job}}" </small>-->

            <p>{{message}}</p>
            {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>

                {% endif %}
                <hr>
        </div>

        {% endfor %}