{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>

    .profile-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

</style>

<h1>{{ user.username }}'s Profile</h1>

{% if request.user == user %}
    <a href="{% url 'edit-profile' user.id %}">Edit Profile</a>
{% endif %}

<div>
    {% if user.userprofile and user.userprofile.profile_picture %}
    <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
    {% else %}
        <img src="{% static 'default.jpg' %}" alt="Default Profile Picture">
    {% endif %}

</div>

<p>Email: {{ user.email }}</p>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>

<h3>Resume:</h3>

    {% if profile.resume %}

        <p>Resume: <a href="{{ profile.resume.url }}" target="_blank">Download Resume</a></p>

    {% else %}

        <p>No resume uploaded yet.</p>

    {% endif %}

    {% if request.user == user %}

        <h3>Upload or Edit Resume:</h3>

        <div class="job-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ resume_form.as_p }}
                <button type="submit">Upload Resume</button>
            </form>
        </div>

    {% endif %}

<h3>Jobs Posted:</h3>
    {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li><a href="{% url 'job' job.id %}">{{ job.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No jobs posted yet.</p>
    {% endif %}

<h3>Messages:</h3>
    {% if job_messages %}
        <ul>
            {% for message in job_messages %}
                <li>{{ message.body }} (Posted {{ message.created|timesince }} ago)</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages.</p>
    {% endif %}

    <script>
        document.querySelector('input[type="file"]').setAttribute('accept', '.pdf');
    </script>

{% endblock content %}