{% extends 'main.html' %}

{% load static %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>


<div class="home-container">

    <div>
        {% if user.is_authenticated and user.userprofile.user_type == 'business' %}
    <a href="{% url 'create-Job' %}" class="btn btn-primary">Create Job Posting</a>

        {% include 'base/job_list.html' %}
        {% else %}
        <div class="applyNow">
            <h1>Sign up Now!</h1>
            <a class ="btn btn-login navbar-btn" type ="button" href="{% url 'register' %}">Register</a>
            <p> or already a member?</p>
            <a class ="btn btn-login navbar-btn" type ="button" href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </div>

        <div>
            {% include 'base/activity_component.html' %}
        </div>

    </div>

    
</div>

{% endblock content %}