{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    #swipeBar{
        height: 500px;
        width: 1000px;
        background-color: green;
        text-align: center;
    }
</style>

<div class="home-container">

    <div>
       {% include 'base/field_component.html' %}
    </div>

    <div>
        <h5>{{job_count}} jobs found!</h5>
        <a href="{% url 'create-room' %}"></a>
        <section id = "swipeBar">
            <div class='swipeDiv'>
                <button class = "swipeButton" id = "leftButton">Left</button>
                <button class = "swipeButton" id = "rightButton">Right</button>
              
            </div>
        </section>
    </div>

    </div>

    
</div>
{% load static %}

<script src="{% static 'swipe.js' %}"></script>
{% endblock content %}
