{% extends 'main.html' %}

{% block content %}
{% load static %}

<style>
    
    .swipeButton{
        width: 200px;
        height: 150px;
    }
    #leftButton{
        margin-right: 250px;
    }
    #rightButton{
        margin-left: 250px;
    }
    img{
        width:200px;
        height:150px;
    }
    .jobFeed{
        border: 1px solid black;
    }
</style>

<div class="home-container">

    <div>
       {% include 'base/field_component.html' %}
    </div>

    <div>
        <h5>{{job_count}} jobs found!</h5>
        <a href="{% url 'create-room' %}"></a>
            
        <div class="jobFeed">
            <div>
                {% include 'base/feed_component.html' %}
            </div>
            <button class="swipeButton" id="leftButton"><img src="{% static 'images/redX.jpg' %}"></button>
            <button class="swipeButton" id="rightButton"><img src="{% static 'images/greenCheck.jpg' %}"></button>
            <p id="test"></p>
        </div>

        </section>
    </div>

    </div>

    
</div>
{% load static %}
<script src="{% static 'scripts/swipe.js' %}"

></script>

{% endblock content %}
