<div>
    {% for job in jobs %}
        <div>
            {% if request.user == job.host %}
            <a href="{% url 'update-room' job.id %}">Edit</a>
            <a href="{% url 'delete-room' job.id %}">Delete</a>
            {% endif %}

            <a href="{% url 'user-profile' job.host.id %}">Company: {{job.host.username}}</a>
            <h5>{{job.id}} -- <a href="{% url 'job' job.id %}">Position: {{job.name}}</a></h5>
            <small>{{job.field.name}}</small>
            <hr>
        </div>

    {% endfor %}
</div>